html
    head
        title=name
    body
        //h1 Sultan #{name} 'ü çok seviyor
        //a(href=url) URL

        if(user)
            h1 Sultan #{user.name} 'ü çok seviyor
        else
            a(href= "#") Sign Up