html
    head
        title Ali Sultan
    body
        form(action="/", method="post")
            div
                label(for="say") Say:
                input(name="say" value="Ali'yi ne kadar çok sevme formu")
            br
            div
                label(for="to") To:
                input(name="to" value="Ali Akgöl")
            br
            button(type="submit") Send my love